<!-- totals -->
<section class="container-fluid totals">
  <div class="container">
    <div class="row">
      <div class="col text-uppercase text-center">
        <div class="row">
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase bold">
              Remove
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase bold">
              Products
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase bold">
              Name of products
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase bold">
              Price
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase bold">
              Quantity
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase bold">
              total
            </p>
          </div>
          <!-- end of single column -->
        </div>
       
        <hr>
        <div class="bold" *ngIf="this.data.length == 0">
          No Product
        </div>
        <!-- end of columns -->

        <ng-container *ngFor="let item of this.data; let i = index">
          <div class="row my-3 align-items-center">
            <!-- all about product -->
            <div class="buttons col-10 mx-auto col-md-2 my-3">
              <span class="delete-btn" (click)="del(item)"></span>
            </div>
            <div class="col-10 mx-auto col-md-2 my-3">
              <img [src]="item.img" alt="" class="img-fluid">
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                {{item.name}}
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase">
                ₹ {{item.price}}
              </p>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <div class="d-flex justify-content-center align-items-center">
                <span class="btn plus bold mx-1" (click)="decrease(item)">-</span>
                <span class="btn quan mx-1">{{item.quantity}}</span>
                <span class="btn plus bold mx-1" (click)="increase(item)">+</span>
              </div>
            </div>
            <div class="col-10 mx-auto col-md-2">
              <p class="text-uppercase bold">
                ₹ {{getSingleTotal(i)}}
              </p>
            </div>
            <!-- end of all about product -->
          </div>
        </ng-container>
        <hr>
      </div>
      <!-- end of buttons -->
    </div>
    <!-- cart total -->
    <div class="row justify-content-end">
      <div class="col col-sm-8 col-md-6 col-lg-4 my-3">
        <div class="card card-body shadow text-uppercase">
          <div class="card-title">
            <h6 bold>Cart total</h6>
          </div>
          <div class="row">
            <!-- single row -->
            <div class="col-6 bold">
              SHIPPING
            </div>
            <div class="col-6 bold">
              FREE
            </div>
            <!-- end of single row -->
            <!-- single row -->
            <div class="col-6 my-2 bold">
              ORDER TOTAL
            </div>
            <div class="col-6 text-danger my-2 bold">
              ₹ {{getTotal()}}
            </div>
            <!-- end of single row -->
          </div>
          <div id="buttons">
            <button class="add-to-cart-2" data-bs-dismiss="modal" aria-label="Close">
              Checkout
            </button>
          </div>
          <button class="mt-1 add-to-cart">Continue Shopping</button>
        </div>
      </div>
    </div>
    <!-- end of cart total -->
  </div>
</section>
<!-- end of totals -->
