<!-- totals -->
<section class="totals py-5">
    <div class="container-fluid">
      <div class="row">
        <div class="col text-uppercase text-center">
          <div class="row">
            <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase">
              products
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-4">
            <p class="text-uppercase">
              name of products 
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase">
              price
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase">
              quantity
            </p>
          </div>
          <!-- end of single column -->
          <!-- single column -->
          <div class="col-10 mx-auto col-md-2">
            <p class="text-uppercase">
              total
            </p>
          </div>
          <!-- end of single column -->
          </div>
          <hr>
          <!-- end of columns -->
          
          <ng-container *ngFor="let item of this.data; let i = index">
            <div class="row my-3 align-items-center">
              <!-- all about product -->
              <div class="col-10 mx-auto col-md-2 my-3">
                <img src="assets/img/img-products/product-1.png" alt="" class="img-fluid">
              </div>
              <div class="col-10 mx-auto col-md-4">
                <p class="text-uppercase">
                  {{item.name}}
                </p>
              </div>
              <div class="col-10 mx-auto col-md-2">
                <p class="text-uppercase">
                  {{item.price}}
                </p>
              </div>
              <div class="col-10 mx-auto col-md-2">
                <div class="d-flex justify-content-center align-items-center">
                <span class="btn btn-black mx-1" (click)="decrease(item)">-</span>
                <span class="btn btn-black mx-1">{{item.quantity}}</span>
                <span class="btn btn-black mx-1" (click)="increase(item)">+</span>
                </div>
              </div>
              <div class="col-10 mx-auto col-md-2">
                <p class="text-uppercase">
                  {{getSingleTotal(i)}}
                </p>
              </div>
              <!-- end of all about product -->
            </div>
          </ng-container>

          <!-- buttons -->
          <div class="row my-3">
            <div class="col-sm-6 mx-auto col d-flex justify-content-center flex-wrap">
              <button type="button" class="btn btn-black my-2">Continue shipping</button>
              <button type="button" class="btn btn-yellow ml-2 my-2">checkout</button>
            </div>
          </div>
          <!-- cart total -->
          <div class="row">
            <div class="col mx-auto col-sm-8 col-md-6 col-lg-4 my-3">
              <div class="card card-body bg-secondary text-uppercase">
                <div class="card-title text-white">
                  <h6>cart total</h6>
                </div>
                <div class="row">
                  <!-- single row -->
                  <div class="col-6">
                    SHIPPING
                  </div>
                  <div class="col-6">
                    FREE
                  </div>
                  <!-- end of single row -->
                  <!-- single row -->
                  <div class="col-6 my-2">
                    ORDER TOTAL
                  </div>
                  <div class="col-6 text-danger my-2">
                    {{getTotal()}}
                  </div>
                  <!-- end of single row -->
                </div>
              </div>
            </div>
          </div>
          <!-- end of cart total -->
          <!-- end of buttons -->
        </div>
      </div>
    </div>
  </section>
  <!-- end of totals -->