/* single product photo */
.single-product-photo{
    background: var(--TransGrey);
    opacity: 0.5;
    transition: all 0.3s linear;
    cursor: pointer;
    border: 0.1rem solid transparent;
    box-sizing: border-box !important;
}
.rating-icon{
    color: var(--mainYellow);
}
.product-size{
    word-spacing: 1.5rem;
}
.single-product-photo:hover{
    border: 0.1rem solid var(--mainYellow);
    opacity: 1;
}
.product-info-link{
    text-decoration: none;
    color: var(--mainGrey);
    transition: all 0.3s ease-in-out;
}
.product-info-link:hover{
    color: var(--mainYellow);
    text-decoration: none;
}
.oldpr{
    text-decoration: line-through;
}
/* end of single product photo */

.free-shipping {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 0.65rem;
    background-color: #191649;
    border: 0;
    border-radius: 0.9rem;
    padding: 0.3rem 0.4rem;
    margin-bottom: 0.5rem;
  }

  .stock {
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 2rem;
    font-size: 16px;
  }

    
  h3 i {
    color: #04d58b;
    margin-right: 0.2rem;
  }