<!-- header section -->
<header id="header" class="header">
    <!-- navbar -->
    <nav class="navbar navbar-expand-lg navbar-light container">
      <a routerLink="/" class="navbar-brand">
        <img src="assets/img/logo.png" alt="company logo" />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse d-flex justify-content-end" id="myNavbar">
        <ul class="navbar-nav me-5">
          <li class="nav-item mx-2" routerLinkActive="nav-active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/home" class="nav-link">Home</a>
          </li>
          <li class="nav-item mx-2"  routerLinkActive="nav-active">
            <a routerLink="/products" class="nav-link">Products</a>
          </li>
        </ul>
      </div>
      <div class="navbar-icons d-none d-lg-flex">
        <!-- single icon -->
        <a class="btn c-pointer" data-bs-toggle="modal" data-bs-target="#exampleModal" class="navbar-icon mx-2 navbar-cart-icon">
          <i class="fas fa-shopping-cart c-pointer"></i>
        </a>
        <!-- end of  single icon -->
      </div>
    </nav>
    <!-- end of navbar -->
  </header>
  <!-- end of header section -->