<div class="banner-product d-flex pl-3 pl-lg-5 align-items-center text-center justify-content-center">
    <div>
      <h1 class="text-slanted text-capitalize display-4 text-yellow">
          comfy sloth
      </h1>
      <h1 class="text-capitalize display-4 font-weight-bold">
          our products
      </h1>
    </div>
</div>
<!-- product section  -->
<section id="products" class="products">
    <div class="container-fluid">
      <div class="row">
        <!-- product info -->
        <div class="col-10 mx-auto col-md-5 col-lg-3 text-capitalize my-3 px-5">
          <!-- products categories -->
          <div class="products-categories-title my-4">
            <h6 class="text-uppercase">
              shop by categories
            </h6>
            <div class="products-categories-underline"></div>
          </div>
          <!-- end of title -->
          <!-- single link -->
          <a href="#" class="products-category-link d-block">
            <p class="mb-0">
              kitchen
            </p>
          </a>
          <a href="#" class="products-category-link d-block">
            <p class="mb-0">
              bath room
            </p>
          </a>
          <a href="#" class="products-category-link d-block">
            <p class="mb-0">
              living room
            </p>
          </a>
          <a href="#" class="products-category-link d-block">
            <p class="mb-0">
              patio
            </p>
          </a>
          <a href="#" class="products-category-link d-block">
            <p class="mb-0">
              bedroom
            </p>
          </a>
          <!-- end of single link -->
          <div class="products-categories-title my-4">
            <h6 class="text-uppercase">
              shop by price
            </h6>
            <div class="products-categories-underline"></div>
          </div>
          <!-- end of title -->
          <form action="">
            <div class="form-group">
              <label for="price-range">Range : $0 - $1000</label>
              <input type="range" class="form-control-range" id="price-range">
            </div>

          </form>
          <!-- end of products categories -->
        </div>
        <!-- end of product info -->
        <!-- product img -->


        <div class="col-10 mx-auto col-md-7 col-lg-9 my-3">
          <div class="row">
            <!-- single product -->


            <!-- <div class="card" style="width: 18rem;">
              <img class="card-img-top" [src]="item.img" alt="Card image cap">
              <div class="card-body">
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div> -->

           <ng-container *ngFor="let item of this.data; let i = index">
            <div class="col-10 mx-auto col-md-6 col-lg-4" >
              <main>
                <div class="d-flex justify-content-center w-100">
                  <img class="headset" [src]="item.img" alt="Product Image" />
                </div>

                <div class="line"></div>

                <div id="cart-text">
                  <button class="free-shipping">Free shipping</button>
                  <h2 class="mb-2">{{item.name}}</h2>
                  <h3>₹ {{item.old}}</h3>
                  <h1>₹ {{item.price}}</h1>
                  <h4>The offer is valid until 2023, or as long as stock lasts!</h4>
                  <div id="buttons">
                    <button class="add-to-cart-2" data-bs-toggle="modal" data-bs-target="#exampleModal" (click)="add(item)">
                      <i class="fa-solid fa-cart-shopping"></i> Add to Cart
                    </button>
                  </div>
                  <button class="mt-1 add-to-cart" [routerLink]="['/products-details', item.id]">View Details</button>
                  <h3 class="stock">
                    <i class="fa-solid fa-circle"></i> 50+ pcs. in stock.
                  </h3>
          
                  
                </div>
              </main>
            </div>
           </ng-container>

          </div>
        </div>
        <!-- end of product img -->
      </div>
    </div>
  </section>
  <!-- end of product section  -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog  modal-xl">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <app-cart [data]="this.service.cart"></app-cart>
      </div>
    </div>
  </div>
</div>