
.text-slanted {
  font-family: "Calligraffitti", cursive;
}
.btn-yellow{
    font-size: 1.2rem;
    color: var(--mainBlack);
    background: var(--mainYellow);
    text-transform: capitalize;
    transition: all 0.3s ease;
}
.btn-yellow:hover{
    background: var(--mainBlack);
    color: var(--mainYellow);
    transition: all 0.3s ease;
}
.btn-black{
    color: var(--mainBlack);
    background: transparent !important;
    font-size: 1.2rem;
    border: 0.1rem solid var(--mainBlack);
    transition: all 0.3s ease;
}
.btn-black:hover{
    color: var(--mainWhite);
    background: var(--mainBlack) !important;
    transition: all 0.3s ease;
}
.text-yellow{
    color: var(--mainYellow);
}
.banner-product{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/pageBcg/productsBcg.jpeg) center/cover fixed no-repeat;
    min-height: 60vh;
}
.banner-single-product{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/pageBcg/singleBcg.jpeg) center/cover fixed no-repeat;
    min-height: 60vh;
}
.banner-store{
    background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.5)), url(../../assets/img/pageBcg/storeBcg.jpeg) center/cover fixed no-repeat;
    min-height: 60vh;
}
/* end of ganeral style */
/* navbar */
.navbar-toggler{
    outline: none !important;
    border: none;
    font-size: 2.2rem;
    color: var(--mainYellow) !important;
}
.nav-link{
    font-size: 1.5rem;
    border-bottom: 0.1rem solid var(--mainWhite);
}
.nav-active{
    border-bottom: 0.1rem solid var(--mainYellow);
}
.navbar-icon{
    font-size: 1.5rem;
}
.navbar-cart-icon{
    color: var(--mainBlack);
    position: relative;
    transition: 0.5s all ease;
}
.navbar-cart-icon:hover{
    color: var(--mainGrey);
}
.cart-items{
    color: var(--mainWhite);
    position: absolute;
    font-size: 0.2rem;
    top: -15%;
    right: -25%;
    background: var(--mainYellow);
    border-radius: 50%;
    padding: 0.2rem 0.3rem;
}
/* end of navbar */
/* banner */
.banner{
    min-height: calc(100vh - 101px);
    background: url(../../assets/img/pageBcg/bannerBcg.jpeg);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
/* end of banner */
/* single product photo */
.single-product-photo{
    background: var(--TransGrey);
    opacity: 0.5;
    transition: all 0.3s linear;
    cursor: pointer;
    border: 0.1rem solid transparent;
    box-sizing: border-box !important;
}
.rating-icon{
    color: var(--mainYellow);
}
.product-size{
    word-spacing: 1.5rem;
}
.single-product-photo:hover{
    border: 0.1rem solid var(--mainYellow);
    opacity: 1;
}
.product-info-link{
    text-decoration: none;
    color: var(--mainGrey);
    transition: all 0.3s ease-in-out;
}
.product-info-link:hover{
    color: var(--mainYellow);
    text-decoration: none;
}
/* end of single product photo */
/* services */
.service-icon{
    font-size: 2rem;
    background: var(--mainGrey);
    color: var(--mainYellow);
    margin-bottom: 1rem;
    display: inline-block;
    padding: 0.5rem 1rem;
    border-radius: 50%;
}
/* end of services */
/* categories */
.categorie-link{
    color: var(--mainBlack);
    text-decoration: none;
}
.categorie-link:hover{
    color: var(--mainGrey);
    text-decoration: none;
}
.categorie-underline{
    height: 0.1rem;
    width: 5rem;
    background: var(--mainYellow);
}
.category-container{
    position: relative;
}
.category-img{
    transition: all 1s linear;
}
.category-container:hover .category-img{
    opacity: 0.5;
}
.category-link{
    position: absolute;
    bottom: 0;
    left: 0;
    background: var(--mainWhite);
    color: var(--mainBlack);
    padding: 0.2rem 3rem 0.2rem 0.2rem;
    clip-path: polygon(0 0, 80% 0, 100% 100%, 0 100%);
    text-decoration: none;
    transition: all 1s linear;
    opacity: 0;
}
.category-container:hover .category-link{
    opacity: 1;
    text-decoration: none;
}
/* end of categories */

/* products category */
.products-categories-underline{
    height: 0.2rem;
    width: 5rem;
    background: var(--mainYellow);
}
.products-category-link{
    text-decoration: none;
    color: var(--mainBlack);
}
.products-category-link:hover{
    color: var(--mainGrey);
    text-decoration: none;
}
.products-color{
    height: 1rem;
    width: 1rem;
}
.products-color-black{
    background: var(--mainBlack);
}
.products-color-blue{
    background: blue;
}
.products-color-green{
    background: green;
}
.products-color-yellow{
    background: yellow;
}
.products-color-red{
    background: red;
}
/* end of products category */

/* home filler */
.home-filler{
    background: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url(../../assets/img/home-filler.jpeg) center/cover fixed no-repeat;
    min-height: 60vh;
}
.collection-link{
    text-decoration: none;
}
.collection-link:hover{
    text-decoration: none;
    color: var(--mainGrey);
}
.collection-underline{
    background: var(--mainYellow);
    height: 0.1rem;
    width: 5rem;
    margin: 0 auto;
}
/* end of home filler */

main {
    background-color: #ffffff;
    // -webkit-box-shadow: 0px 15px 11px -6px #cdd4e6;
    // box-shadow: 0px 15px 11px -6px #cdd4e6;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 2rem;
    padding: 1rem;
    gap: 10px;
    border-radius: 0.5rem;
    margin-bottom: 20px;

  .w-100{
    width: 100%;
  }    
  
    
  .headset {
    height: 11rem;
  }

//   .line{
//     height: ;
//   }
  
  #cart-text {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  
  .free-shipping {
    font-family: "Lato", sans-serif;
    color: #fff;
    font-size: 0.65rem;
    background-color: #191649;
    border: 0;
    border-radius: 0.9rem;
    padding: 0.3rem 0.4rem;
    margin-bottom: 0.5rem;
  }
  
  h2 {
    font-family: "Lato", sans-serif;
    font-size: 1.2rem;
    font-weight: 700;
    line-height: 1.5rem;
    margin-bottom: 2rem;
    cursor:default;
  }
  
  h3 {
    font-weight: 300;
    font-size: 0.65rem;
    text-decoration: line-through;
    cursor:default;
  }
  
  h1 {
    font-weight: 900;
    cursor:default;
    font-size: 2.5rem;
  }
  
  h4 {
    font-weight: 300;
    font-size: 0.7rem;
    margin-bottom: 1rem;
    cursor:default;
  }
  
  .add-to-cart {
    width: 100%;
    height: 2.7rem;
    font-size: 1rem;
    background-color: var(--mainYellow);
    color: #000;
    font-weight: 400;
    border: 0;
    border-bottom: 0.3rem solid #212121;
    border-radius: 0.4rem;
    margin-bottom: 1rem;
    cursor: pointer;
    transition: all 0.3s ease;

    &:hover{
      opacity: 0.8;
      transition: all 0.3s ease;
    }
  }
  
  .add-to-cart:active {
    border-bottom: 0;
  }
  
  .stock {
    font-weight: 700;
    text-decoration: none;
    margin-bottom: 2rem;
  }
  
  h3 i {
    color: #04d58b;
    margin-right: 0.2rem;
  }
  
  #buttons {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
  }
  
  .add-to-cart-2,
  .add-to-wishlist {
    font-size: 1rem;
    width: 100%;
    font-weight: 400;
    height: 2.7rem;
    background-color: #fff;
    border: 0.1rem solid #000;
    border-radius: 0.2rem;
    cursor: pointer;
  }
  
  .add-to-cart-2 i,
  .add-to-wishlist i {
    margin-right: 0.5rem;
  }
  
  .add-to-cart-2:hover,
  .add-to-wishlist:hover {
    border: 0.1rem solid #a7a7aa;
    transition: all 0.3s ease;
  }
  }

  
  @media (max-width: 700px) {
    * {
      font-size: 90%;
    }
  }
  
  @media (max-width: 630px) {
    * {
      font-size: 80%;
    }
  }
  
  @media (max-width: 580px) {
    * {
      font-size: 70%;
    }
  }
  
  @media (max-width: 495px) {
    * {
      font-size: 60%;
    }
  }
  
  @media (max-width: 420px) {
    * {
      font-size: 50%;
    }
  }