

/* footer section */
.footer{
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
}
.footer-title{
    padding: 0.4rem;
    border: 0.2rem solid var(--mainYellow);
}
.footer-icon{
    color: var(--mainYellow);
    font-size: 1.5rem;
    transition: all 0.3s ease-in-out;
}
.footer-icon:hover{
    color: var(--mainWhite);
}
.contact-icon{
    color: var(--mainYellow);
}
.white{
    color:#fff !important;
}
/* end of footer section */